---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";

const { research_areas } = profile;
---

<Layout title="Research | Eddie Carrasco Jr.">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Research Statement</h1>

    <div class="mb-12">
      <p class="text-lg mb-6">
        My research focuses on the application of evolutionary AI systems to modern-day problems.
      </p>
      <p class="text-lg mb-6">
        This interdisciplinary approach has led to significant discoveries, including the Swarm Intelligence, Large Language Models, and Self Reinforcement Learning.
      </p>
    </div>

    <h2 class="text-2xl font-bold mb-6">Research Areas</h2>
    <div class="grid gap-8 mb-12">
      {
        research_areas.map((area) => (
          <div class="flex gap-6 items-start">
            <BetterIcon>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="2"
                class="size-6 stroke-accent"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d={RESEARCH_ICONS[area.field as keyof typeof RESEARCH_ICONS]?.path || RESEARCH_ICONS['computer-science'].path}
                />
              </svg>
            </BetterIcon>
            <div>
              <h3 class="text-xl font-semibold mb-2">{area.title}</h3>
              <p class="text-base">{area.description}</p>
            </div>
          </div>
        ))
      }
    </div>

    <List listTitle="Current Projects" listItems={[
      {
        title: "Chaos Theory in Multi-Agent Systems",
        description: "Investigation of AI agents' capabilities in complex environments Agent to agent interactions known as Multi-Agent Systems."
      },
      {
        title: "Game Theory to Self Reinforcement Learning",
        description: "Development of precise methods for measuring and enhancing the performance of self-reinforcement learning algorithms."
      },
      {
        title: "Monte Carlo Search spaces for LLMs",
        description: "Learning the limitation of Monte Carlo Tree Search in large language models and how to improve them."
      }
    ]} />

    <h2 class="text-2xl font-bold mb-6">Research Impact</h2>
    <p class="text-lg mb-6">
      My research has allowed AI systems to evolve and adapt in simple ways, enhancing their ability to solve complex problems and interact with dynamic environments.
    </p>
  </div>
</Layout>
